[Unit]
Description=Docs container started
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
RuntimeDirectory=docs
Environment="DOCS_PATH=/var/run/docs/docs"
ExecStartPre=/usr/bin/git clone https://github.com/f5devcentral/nginx-one-lab.git /var/run/docs
ExecStart=/usr/bin/docker-compose -f /var/run/docs/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f /var/run/docs/docker-compose.yml down

[Install]
WantedBy=multi-user.target
